* {
  box-sizing: border-box;
}
.app-wrapper {
  .sidebar-wrapper {
    position: absolute;
    background: $sidebar-bgcolor;
    width: $sidebar-width;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    @media screen and (max-width: $break-small) {
      left: -$sidebar-width;
    }
  }
  .sidebar-toggle-button {
    position: fixed;
    display: none;
    height: 40px;
    width: 40px;
    background: $sidebar-bgcolor;
    top: 52px;
    z-index: 12;

    @media screen and (max-width: $break-small) {
      display: block;
    }
  }
  
  .position-all-0 {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.hide {
  position: fixed;
  top: -1111111px;
}